@page
@model IndexModel
@{
    ViewData["Title"] = "SimWeb Bartłomiej Kapusta";
}

<div class="text-center">
    <p></p>
    <h1 class="display-2 mt-5">SimWeb</h1>
    <h3>Realizacja projektu symulacji z wykorzystanie Razor Pages.</h3>
    <h5>Typ mapy: Small Map Torus</h5>
    <h5>Rozmiar mapy: 6 x 7</h5>
</div>
